[submodule "third_party/minhook"]
	path = third_party/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "third_party/reshade"]
	path = third_party/reshade
	url = https://github.com/crosire/reshade
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
